@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model iTrasitionApp.ViewModel.RegisterViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/_Layout.cshtml";
}
 
<h2>Регистрация</h2>
<div>
    <form method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" asp-for="Email"></label> 
            </div>
            <input class="form-control" placeholder="name@example.com" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" asp-for="Password"></label>
            </div>
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" asp-for="PasswordConfirm"></label>
            </div>
            <input class="form-control" asp-for="PasswordConfirm" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" value="Зарегистрировать" />
        </div>
    </form>
</div>