@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/_Layout.cshtml";
}
@model iTrasitionApp.ViewModel.CreateCompanyModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers




<h2>CreateCompany</h2>
<form method="post" asp-controller="Company" asp-action="Create" asp-route-UserId="@Model.UserId">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label class="col-sm-2 col-form-label">Author</label>
        <div>
            <input readonly class="form-control-plaintext" value="@User.Identity.Name" />
        </div>
    </div>
    <div>
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="Name"></label>
        </div>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <div class="input-group-prepend">
            <label class="input-group-text" asp-for="Goal"></label>
        </div>
        <input asp-for="Goal" />
        <span asp-validation-for="Goal"></span>
    </div>
    <input type="submit" value="Создать" />


</form>
